    <div class="container">
        <div class="bg-slate-200 flex p-10">
            <h1 class="text-3xl font-semibold text-center">
                Project based lessons designed for self-taught developers to improve their software architecture abilities.
            </h1>       
        </div> 
    </div>
    <div id="Search_subjects" class="container px-10 ">
        <div class="py-6 text-center">
                <span class="h3 block mb-4">
                    "Don't study hard, study smart."
                </span>
                <span>
                    Subject lessons in the Factory Man pages are designed specifically
                    for beginners new to Devops and IT career-changers. 
                    Each lesson starts with a real world scenario and ends with explanation
                    of how the applying the theory taught can result in cost savings. 
                </span>
        </div>
        <div class="flex justify-center mb-6">
            <div class="flex-1 text-center py-6 border border-black rounded">
                Problem    
            </div>
            <div class="flex-1 text-center py-6 border border-black rounded">Theory</div>
            <div class="flex-1 text-center py-6 border border-black rounded">
                Time/Cost savings
            </div>
        </div>
        <div class="border-2 group rounded mx-10 p-6 shadow-md hover:shadow-lg hover:border 
                  hover:bg-emerald-50 hover:border-l-4 bg-white flex flex-col my-4">
            <div class="flex justify-between align-center">
                <span class="text-xl font-semibold group-hover:underline flex-1">
                    Linux
                </span>
                <div class="flex-0">
                    <%= image_tag("linux.png", class: "object-contain max-h-16") %>
                </div>
            </div>
        </div>
        <div class="border-2 group rounded mx-10 p-6 shadow-md hover:shadow-lg 
                    hover:bg-emerald-50 hover:border hover:border-l-4 bg-white flex flex-col my-4">
            <div class="flex justify-between align-center">
                <span class="text-xl font-semibold group-hover:underline flex-1">
                    Shell scripting
                </span>
                <div class="flex-0">
                    <%= image_tag("terminal.png", class: "object-contain max-h-16") %>
                </div>
            </div>
        </div>
    </div>

<!---    <button class="rounded-3xl bg-slate-300 py-1 px-4">
        Learn
   </button> -->
