
<div class="bg-slate-200 flex flex-col md:p-10 px-4 py-6">
    <h1 class="text-2xl md:text-3xl md:font-semibold text-center w-full">
        For Recruiters
    </h1>    
    <div class="flex justify-center">
        <span class="text-xl mt-4">Contact email:</span>
        <span class="text-xl mt-4 ml-4">hi_justin@hotmail.com</span>
    </div>   
</div> 
<div id="recruiters" class="p-6 md:p-10 flex flex-col items-center">
    <div class="text-xl w-full md:w-2/3 mb-6">
        <div class="pb-6 font-semibold">About the developer</div>
        <div class="pb-4">Hi, my name is Justin.</div>
        <div class="pb-4">
             I built and currently maintain this simple website (Ruby on rails 7/Postgres stack).<br>
             Currently, I live in Sydney and am looking for a full-time role as a Java developer/architect
             in the financial industry.
        </div>
        <div class="pb-6">I am passionate about learning and teaching concepts of Software Architecture
             and setup this website for this express purpose. All lessons are designed by yours truly.</div>
        <div class="pb-6 font-semibold">Why did I choose IT as a career?</div>
        <div class="pb-6">
             Well, actually I originally studied Economics at the University of Sydney. Before the final semester, I took
             leave and tried a variety of jobs in different industries such as construction, education, healthcare, IT and hospitality.
             One day, when I was operating the service stand at a photography booth, the computer system failed to connect to the printer and
             all the customers were waiting in a long line outside the entrance. Again and again, I would call IT support to have guidance 
             on how to resolve the issue. That was the day I realised how crucial smooth functioning IT infrastructure is to business operations
             in general. (P.S Most customers who waited received discounts or a bonus print photo from me.) 
        </div>
        <div class="pb-6 font-semibold">Why do you want a Java role if you are experienced in ROR?</div>
        <div class="pb-4">
             I originally chose to learn and build projects with Ruby on Rails due to its ease of development.
             For three years, I built various projects, mainly copies of popular websites like Airbnb, Youtube etc. 
             Although they are inactive, you can still find them on my <a href="https://github.com/Coreastreet" class="underline text-blue-600">Github</a>.
             Eventually, after learning about most of the Rails ecosystem, I started to feel constrained by its 
             "convention over configuration" principles. Instead of using conventions, I wanted to challenge myself 
             by designing more complicated software products in a variety of situations with more constraints. 
        </div>
        <div class="pb-4">
            To me, Java is the original OOP language for me. In my eyes, it has just the right balance between abstraction from the computer bytecode
            and human ease of readability. I am particularly a fan of its strongly type convention (i'm that type of programmer). I avoid C and C++ because 
            I am not a fan of memory errors and pointers, though I am aware of their advantages in low memory use and speed of execution 
            (aka. Algorithms; Don't mind rust though)
        </div>
        <div class="pb-4">
            More than reading and writing code, I consider the understanding of software architecture decisions and their tradeoffs to be 
            the most important part of software development. The time and effort I wasted when rewriting or deleting code due to poor 
            architectural decisions early on was huge. Implementation is easy (most people can write code imo) but good planning is rare. 
            This is why I have set out to master this aspect of software development.
        </div>
    </div>
</div>
