<div id="footer" class="py-6 flex flex-col items-center bg-slate-200"> 
    <div id="footer" class="flex items-center flex-shrink-0 justify-center">
            <svg class="fill-black h-8 w-8 mr-2" width="36" height="36" viewBox="0 0 54 54" 
            xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
            <div class="font-semibold text-lg tracking-tight">Factory Man</div>
    </div>
    <div class="text-md tracking-tight pt-2">
        <span class="font-light">
            Brought to you by 
        </span>
        <%= link_to 'Justin', ((logged_in_as_creator?) ? admin_subjects_path : admin_login_path), class: "underline" %> 
        <span class="font-light"> - Aspiring Software Architect</span>
    </div>
</div>